/* special styles for Per Starke Web-Dev website */

/* a big separating dashed line */
hr.big-sep {
    border-top: 5px dashed grey;
}

/* a semi-big separating blue solid line */
hr.blue-sep {
    border-top: 3px solid CornflowerBlue;
}

/* For making the framework-text not go to the full edge of the screen */
div.splash_text {
    margin-left: 50px;
    margin-right: 50px;
}

/* A box to put some coaching content in */
div.coaching_box {
    font-size: 80%;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border: 5px solid CornflowerBlue;
    background-color: rgba(0,0,0, 0.05);
}

/* A bright blue background box (for feature row content) */
div.blue_box{
    background-color: CornflowerBlue;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 8px;
}

/* The big blue seminars-headings */
h1.sem {
    font-size: 200%;
    text-align: center;
    color: blue
}